<!DOCTYPE html>
<html>
  <head>
   
    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>

  </head>
  <body>
    <b>Name: Kaustubh Mohgaonkar</b>
    <br>
    <b>ID: 1001101770</b>
    <center>
    <div id="map"></div>
    <button onclick="maps_run()">Click me</button>
    <div>
      <b>
      <table id = "maps_uk" border = "1"> </table>
      </b>
    </center>
  </body>
</html>

<script src="https://maps.googleapis.com/maps/api/js"></script>  
<script>

      function maps_run() {
     
       $.getJSON('data.json', function(json){


        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(51.5072, 0.1275),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
          var map = new google.maps.Map(mapCanvas, mapOptions)


           for (var key in json) 
          {
            if (json.hasOwnProperty(key)) 
            {
              var item = json[key];
              var trHTML = '';
              trHTML += '<tr><td>' + item.place + '</td><td>' + item.longitude + '</td><td>' + item.latitude + '</td><tr>';
              $('#maps_uk').append(trHTML);
              var myLatLng = {lat: parseFloat(item.longitude), lng: parseFloat(item.latitude)};
                      var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: item.place
                      });
            }
          }
        });


      //   var myLatLng = {lat: 51.5072, lng: 0.1275};
      //   var myLatLng1 = {lat: 48.850, lng: 2.35};

      //   var marker = new google.maps.Marker({
      //   position: myLatLng,
      //   map: map,
      //   title: 'London'});

      //   var marker1 = new google.maps.Marker({
      //   position: myLatLng1,
      //   map: map,
      //   title: 'Paris'
      // });

      }
      // google.maps.event.addDomListener(window, 'load', initialize);

    </script>
<!--
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7ihbXM9bF62eZ5JOvGh9doYHhSSaMtR0&signed_in=true&callback=initialize"></script> -->