<!--

Name: Kaustubh Mohgaonkar
ID: 1001101770
NETID: kpm1770

Refrences:

http://www.latlong.net/
http://www.w3schools.com/jsref/jsref_parsefloat.asp
https://developers.google.com/maps/web/
http://stackoverflow.com/questions/15527699/for-loop-and-append

!-->
<!-- 
<!DOCTYPE html>
<html>
<script>document.title = "Project1 CSE 5335"</script>
  <head>
   
    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>

  </head>
  <body>
    <b>Name: Kaustubh Prashant Mohgaonkar</b>
    <br>
    <b>ID: 1001101770  NetID: kpm1770</b>
    <center>
    <b> Markers with below locations. Just click to see!<b>
    <br>
    <div id="map"></div>
    <button onclick="maps_run()">Click me</button>
    <div>
      <table id = "maps_uk" border = "1" padding: "2px" ><th>Place</th><th>Long</th><th>Lat</th></table>
    </center>
  </body>
</html>

<script src="https://maps.googleapis.com/maps/api/js"></script>  
<script>

      function maps_run() {
     
       $.getJSON('data.json', function(json){


        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(51.5072, 0.1275),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
          var map = new google.maps.Map(mapCanvas, mapOptions)


           for (var key in json) 
          {
            if (json.hasOwnProperty(key)) 
            {
              var item = json[key];
              var trHTML = '';
              trHTML += '<tr><td>' + item.place + '</td><td>' + item.longitude + '</td><td>' + item.latitude + '</td><tr>';
              $('#maps_uk').append(trHTML);
              var myLatLng = {lat: parseFloat(item.longitude), lng: parseFloat(item.latitude)};
                      var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: item.place
                      });
            }
          }
        });

      }
    </script>
 -->

 <html>
 <body>
  <h1>Hello Project 3</h1>
 </body>
 </html>
