<!-- 

Name: Kaustubh Mohgaonkar
ID: 1001101770
NETID: kpm1770

Refrences:

http://www.w3schools.com/ajax/ajax_xmlhttprequest_send.asp
http://stackoverflow.com/questions/15527699/for-loop-and-append
http://docs.mongolab.com/data-api/#reference
http://stackoverflow.com/questions/24523039/animate-json-data-with-jquery-ajax
http://stackoverflow.com/questions/8232197/passing-json-data-to-getjson-in-jquery

-->

<html>
    <head>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>        
    
        <script type='text/javascript'>

          document.title = "Project 3"
          var i = 0;
          var id = 0;
          function fetchjson(){

            if(i < 102){
            
            // url for MongoDB API
            var url = "https://api.mongolab.com/api/1/databases/heroku_bvdcj6j3/collections/fathers?q={%22ID%22:%20"+i+"}&apiKey=Ix6IchmtLXJiGzdkXN5HYAfvskE13LVf";
                
                var xmlhttp = new XMLHttpRequest();            
                xmlhttp.onreadystatechange=function()
                 {
                    if (xmlhttp.readyState==4 && xmlhttp.status==200)
                    {
                        
                        var json = eval(xmlhttp.responseText);
                        document.getElementById("div"+id).innerHTML= ("ID :" + JSON.stringify(json[0]["ID"])+" |  Name :" +JSON.stringify(json[0]["Name"]));
                        $("#div"+id).animate({fontSize: '2em'}, "slow", "swing")
                        $("#div"+id).animate({fontSize: '1em'}, "fast", "swing")
                    }
                }

            xmlhttp.open("GET", url, true);
            xmlhttp.send();
            i++;
            id = (i % 20)+1;
        }
      }
                  
    </script>
    </head>
    <center>
    <h1>Project 3 CSE 5335</h1>
    <body>

       <div id="div1"> </div>
       <div id="div2"> </div>
       <div id="div3"> </div>
       <div id="div4"> </div>
       <div id="div5"> </div>
       <div id="div6"> </div>
       <div id="div7"> </div>
       <div id="div8"> </div>
       <div id="div9"> </div>
       <div id="div10"> </div>
       <div id="div11"> </div>
       <div id="div12"> </div>
       <div id="div13"> </div>
       <div id="div14"> </div>
       <div id="div15"> </div>
       <div id="div16"> </div>
       <div id="div17"> </div>
       <div id="div18"> </div>
       <div id="div19"> </div>
       <div id="div20"> </div>

    <script>
        
      fetchjson();
      var timeout= setInterval (fetchjson, 500);

    </script>
    </body>
    </center>
</html>